<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/62ac66dd-e347-4bf4-b3ad-0ba536f8e261/resourceGroups/ContainerAppsDemo/providers/Microsoft.ContainerRegistry/registries/ToDoAppFrontend</ResourceId>
    <ResourceName>ToDoAppFrontend</ResourceName>
    <ResourceGroup>ContainerAppsDemo</ResourceGroup>
    <Subscription>Visual Studio Enterprise Subscription – MPN</Subscription>
    <RegistryUrl>https://todoappfrontend.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cbbce2c7-0d8d-4ac7-af4e-932fdfc6eec6</ProjectGuid>
  </PropertyGroup>
</Project>